body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
  }

p {font-size: 16px;
padding-left: 20px;}

.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 10px;
  padding-bottom: 70px;
}